body {
    height: 200vh;
    width: 100%;
    margin: 0px;
    display: flex;
    background-color: white;
}

header {
    height: 10vh;
    width: 100%;
    background-color: black;
}

.logo {
    display: flex;
    
}