body {
    height: 188.3vh;
    width: 100%;
    margin: 0px;
    background-color: white;
}

header {
    height: 76px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

div {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.logo{
    margin-left: 20px;
}

.middle-menu {
    color: white;
    margin-left: 10px;
    margin-top: 11px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.right-menu {
    color: rgb(158, 162, 170);
    margin-left: 10px;
    margin-top: 11px;
    margin-right: 30px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.home-page-gif {
    height: 79.8vh;
    width: 100%;
    margin-left: 0px;
    display: flex;
}

section {
    height: 83px;
    width: 100%;
    background-color: rgb(226, 226, 226);
    display: flex;
    position: relative;
    justify-content: center;
}

.bottom-text{
    color: rgb(57, 57, 57);
    font-size: 18px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    margin-left: 0px;
}

footer {
    height: 785px;
    width: 100%;
    background-color: rgb(242, 242, 242);
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 0px;
}

.bottom-black-box {
    background-color: black;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-left: 0px;
}

.small-logo {
    margin-left: 20px;
    align-items: center;
    margin-bottom: 7px;
}

.bottom-menu {
    color: rgb(158, 162, 170);
    margin-left: 10px;
    margin-top: 11px;
    margin-right: 30px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    align-items: center;
    margin-bottom: 6px;
}